.jumbo {
  background-color: rgb(44, 44, 44);
  color: white;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.conditions{
  background-color: #047bfe;
  color: white;
  font-weight: 320;
  font-size: 15px;
  margin-bottom: 2rem;
}

li:hover{
    background-color: lightskyblue;
    text-decoration: underline;
}

